# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# Project Specific
datasets/
.cadence/
kaggle.json

# Notebooks
Notebooks/
